---
import AboutMe from "@/components/AboutMe.astro";
import Above from "@/components/Above.astro";
import CenterContent from "@/components/CenterContent.astro";
import FAQ from "@/components/FAQ.astro";
import Heading from "@/components/Heading.astro";
import HighlightPosts from "@/components/HighlightPosts.astro";
import HowWorkingCards from "@/components/HowWorkingCards.astro";
import MainCta from "@/components/MainCta.astro";
import Section from "@/components/Section.astro";
import ServicesCards from "@/components/ServicesCards.astro";
import ShortDescription from "@/components/ShortDescription.astro";
import SubHeading from "@/components/SubHeading.astro";
import TargetCards from "@/components/TargetCards.astro";
import { FAQ_HOME } from "@/data/faqs";
import Layout from "@/layouts/Layout.astro";

const structuredData = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": Astro.url,
  url: Astro.url,
  name: "Laura Buendía - Perito Médico en Madrid",
  description:
    "Médico con más de 10 años de experiencia en informes periciales, valoración del daño corporal, pérdida de oportunidad y asesoramiento a letrados. Especializada en ofrecer opinión experta y claridad en temas médico-legales.",
  inLanguage: "es",
  publisher: {
    "@type": "Person",
    name: "Laura Buendía",
    image: {
      "@type": "ImageObject",
      url: `${Astro.url.origin}/laura_buendia.webp`,
    },
  },
};

const localData = {
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  name: "Laura Buendía - Perito Médico en Madrid",
  image: `${Astro.url}/laura_buendia.webp`,
  url: Astro.url,
  description:
    "Perito médico especializada en valoración del daño corporal, informes periciales y asesoramiento legal en toda España.",
  telephone: "+34 658 217 820",
  address: {
    "@type": "PostalAddress",
    streetAddress: "C. del Dr. Esquerdo, 83, Retiro, 28007 Madrid",
    addressLocality: "Madrid",
    postalCode: "28007",
    addressCountry: "ES",
  },
  openingHours: "Mo-Fr 09:00-18:00",
  areaServed: {
    "@type": "Country",
    name: "España",
  },
  sameAs: ["https://www.linkedin.com/in/laura-buend%C3%ADa-8a1b86197/"],
};
---

<Layout
  metaTitle="➤ Dra. Laura Buendía - Perito Médico en Madrid"
  metaDescription="Hola, soy Laura Buendía, Médico con más de 10 años de experiencia en informes periciales, valoración del daño corporal, pérdida de oportunidad y asesoramiento a letrados. "
>
  <Above />
  <Section>
    <Heading> mis servicios </Heading>
    <ServicesCards />
  </Section>
  <Section>
    <Heading> cómo trabajaremos </Heading>
    <HowWorkingCards />
    <CenterContent modifier="how-working-section">
      <SubHeading>solicite información</SubHeading>
      <ShortDescription>
        Estoy aquí para ayudarle. Si necesita orientación sobre su caso, los
        informes o el proceso, puede ponerse en contacto sin ningún tipo de
        compromiso. Estudiaré su situación con rigor y le daré una respuesta
        clara y fundamentada.
      </ShortDescription>

      <ShortDescription>
        Aprovecho para aclarar que, aunque desarrollo mi actividad como perito
        médico en Madrid, presto servicio en toda España y puedo desplazarme a
        cualquier provincia si el caso lo requiere.
      </ShortDescription>
      <MainCta>Solicitar información</MainCta>
    </CenterContent>
  </Section>
  <Section>
    <Heading> A quién asesoro como perito médico </Heading>
    <p class="mt-1 delimit-text">
      Como médico perito, colaboro con diferentes perfiles profesionales e
      institucionales, ofreciendo informes rigurosos y asesoramiento experto en
      procedimientos judiciales, reclamaciones o valoraciones.
    </p>
    <TargetCards />
  </Section>
  <section class="bg-gradient-circle">
    <Section>
      <Heading> acerca de mí </Heading>
      <AboutMe />
    </Section>
  </section>
  <Section>
    <CenterContent modifier="faq-section">
      <Heading> preguntas frecuentes </Heading>

      <FAQ faqs={FAQ_HOME} />
    </CenterContent>
  </Section>
  <Section>
    <Heading> artículos destacados </Heading>
    <HighlightPosts />
  </Section>

  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify(structuredData)}
  />

  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify(localData)}
  />
</Layout>
