---
import Linkedin from "@/components/icons/Linkedin.astro";
import WhatsApp from "@/components/icons/WhatsApp.astro";
import Email from "@/components/icons/Email.astro";
import Phone from "@/components/icons/Phone.astro";
import Location from "@/components/icons/Location.astro";
import { GLOBAL_DATA } from "@/data/global";
import SiteDev from "@/components/SiteDev.astro";
---

<footer>
  <div class="wrapper footer-wrap">
    <nav>
      <h2>servicios</h2>
      <ul>
        <li>
          <a href="/servicios/valoracion-dano-corporal/">
            <span> valoración del daño corporal </span>
          </a>
        </li>
        <li>
          <a href="/servicios/informes-medicos-periciales/">
            <span> informes médicos periciales </span>
          </a>
        </li>
        <li>
          <a href="/servicios/accidentes-de-trafico-y-hogar/">
            <span> accidentes de tráfico y hogar </span>
          </a>
        </li>
        <li>
          <a href="/servicios/informes-viabilidad/">
            <span> informes de viabilidad </span>
          </a>
        </li>

        <li>
          <a href="/servicios/perdida-de-oportunidad/">
            <span> perdida de oportunidad </span>
          </a>
        </li>

        <li>
          <a href="/servicios/asesoramiento-a-letrados/">
            <span> asesoramiento a letrados </span>
          </a>
        </li>
        <li>
          <a href="/servicios/mediacion-sanitaria/">
            <span> mediación </span>
          </a>
        </li>
        <li>
          <a href="/servicios/ratificaciones-judiciales/">
            <span> ratificaciones judiciales </span>
          </a>
        </li>
      </ul>
    </nav>
    <nav>
      <h2>Blog</h2>
      <ul>
        <li>
          <a href="/peritaje-medico/que-es-un-peritaje-medico/">
            <span> ¿Qué es un peritaje médico? </span>
          </a>
        </li>
        <li>
          <a
            href="/peritaje-medico/perito-medico-especialista-en-valoracion-de-danos-corporales/"
          >
            <span> Especialista en valoración de daños corporales </span>
          </a>
        </li>
        <li>
          <a href="/accidentes-de-trafico/calcular-indemnizacion/">
            <span> calcular indemnización </span>
          </a>
        </li>
        <li>
          <a href="/accidentes-de-trafico/indemnizacion-por-latigazo-cervical/">
            <span> indemnización por latigazo cervical </span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="contact-nav">
      <h2>contacto</h2>
      <ul>
        <li>
          <a href={GLOBAL_DATA.CALL_LINK}>
            <Phone width={20} height={20} />
            <span> {GLOBAL_DATA.PHONE_MASK} </span>
          </a>
        </li>
        <li>
          <a href={GLOBAL_DATA.CALL_LINK}>
            <WhatsApp width={20} height={20} />
            <span> whatsApp </span>
          </a>
        </li>
        <li>
          <a href={GLOBAL_DATA.MAIL_TO}>
            <Email width={20} height={20} />
            <span> {GLOBAL_DATA.MAIL_TEXT} </span>
          </a>
        </li>

        <li>
          <a
            href="https://maps.app.goo.gl/eaPLsq111yDC5S3Z9"
            target="_blank"
            rel="noopener"
          >
            <Location />
            <span>QualiSalud | C. de Potosí, 7, Chamartín, 28016 Madrid </span>
          </a>
        </li>
      </ul>
    </nav>

    <nav>
      <h2>Áreas de servicio</h2>
      <ul>
        <li>
          <a href="/peritaje-medico/perito-medico-valencia/">
            <span> Perito médico en Valencia </span>
          </a>
        </li>
        <li>
          <a href="/peritaje-medico/perito-medico-barcelona/">
            <span> Perito médico en Barcelona </span>
          </a>
        </li>
        <li>
          <a href="/peritaje-medico/perito-medico-sevilla/">
            <span> Perito médico en Sevilla </span>
          </a>
        </li>
        <li>
          <a href="/peritaje-medico/perito-medico-malaga/">
            <span> Perito médico en Málaga </span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="nav-legal">
      <ul>
        <li>
          <a href="/legal/aviso-legal">
            <span> aviso legal </span>
          </a>
        </li>
        <li>
          <a href="/legal/politica-cookies">
            <span> política de cookies </span>
          </a>
        </li>
        <li>
          <a href="/legal/politica-privacidad">
            <span> política de privacidad </span>
          </a>
        </li>
      </ul>

      <SiteDev />
    </nav>
  </div>
</footer>

<style>
  footer {
    margin: 10rem 0 0;
    background-color: var(--white);
    padding: 2rem 0 8rem;
  }

  .footer-wrap {
    display: grid;
    gap: 2rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  ul:not(.nav-legal ul) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h2 {
    font-size: var(--fs-md);
    color: var(--dark-900);
  }

  a {
    display: flex;
    align-items: center;
    font-size: var(--fs-sm);
    color: var(--dark-500);
    transition: color 0.3s ease;
  }

  .contact-nav a {
    color: var(--dark-500);
    font-size: var(--fs-sm);
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-legal {
    border-top: 1px solid var(--gray);
    grid-column: 1 / -1;
    padding: 1rem 0;
    margin: 3rem 0 0;
  }

  @media (min-width: 1024px) {
    footer {
      padding: 2rem 0 5rem;
    }

    .footer-wrap {
      grid-template-columns: repeat(4, 1fr);
      /* max-width: 800px; */
    }

    .nav-legal ul {
      display: flex;
      font-size: var(--fs-sm);
      gap: 3rem;
    }

    a:hover,
    .contact-nav a:hover {
      color: var(--primary);
    }
  }
</style>
