---
import Author from "@/components/Author.astro";
import TOC from "@/components/TOC.astro";
import type { CollectionEntry } from "astro:content";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import PostMeta from "@/components/PostMeta.astro";
import { PostForm } from "@/components/preact/PostForm";
import BottomKeypad from "@/components/BottomKeypad.astro";
import { Image } from "astro:assets";

interface Props {
  body: string;
  post: CollectionEntry<"posts">;
}

const { body, post } = Astro.props;
const { data, slug } = post;
---

<section class="post wrapper">
  <div class="above">
    <picture class="mask-1">
      <h1>{data.h1}</h1>
      <Image width={600} height={400} src={data.image} alt={data.h1} />
    </picture>
    <header>
      <Breadcrumbs slug={slug} h1={data.h1} />

      <Author />

      <PostMeta
        datePublished={data.datePublished}
        readingTime={data.readingTime}
      />
    </header>
  </div>

  <div class="content-wrap">
    <aside class="toc-aside">
      <TOC body={body} slug={slug} />
    </aside>

    <div class="body-content">
      <slot />
    </div>

    <aside class="form-aside">
      <PostForm heading="solicita información" />
    </aside>
  </div>
  <BottomKeypad />
</section>

<style is:global>
  section.post {
    --fs-base: 16px;
    --fs-h2: 32px;
    --fs-h3: 26px;
    --fs-h4: 20px;
  }

  section.post .body-content img {
    border-radius: var(--radius);
    margin: 2rem 0;
  }

  section.post .body-content h2 {
    font-size: var(--fs-h2);
  }

  section.post .body-content h3 {
    font-size: var(--fs-h3);
  }

  section.post .body-content h4 {
    font-size: var(--fs-h4);
  }

  section.post .body-content strong {
    font-family: var(--base-bold);
  }

  section.post .body-content ul:not(.contact-links),
  section.post .body-content ol {
    padding-left: 1rem;
  }

  section.post .body-content p,
  section.post .body-content li {
    font-size: var(--fs-base);
    line-height: 1.75;
  }

  section.post .body-content ul li:not(ul.faq li):not(ul.contact-links li) {
    list-style: disc;
    margin: 1rem 0;
  }

  section.post .body-content ol li {
    list-style: decimal;
    margin: 1rem 0;
  }

  section.post .body-content p:first-child {
    margin: 0 0 1rem;
  }

  section.post .body-content p:not(p:first-child),
  section.post .body-content ul,
  section.post .body-content ol {
    margin: 1rem 0;
  }
</style>

<style>
  section {
    display: grid;
    gap: 1rem;
    --fs-base: 18px;
    --fs-h1: 28px;
    --content-wrap: 600px;
  }

  .above {
    max-width: var(--content-wrap);
    margin: var(--header-height) auto 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  picture {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 var(--radius) var(--radius);
  }

  h1 {
    position: absolute;
    color: var(--white);
    z-index: 2;
    text-align: center;
    padding: 1rem;
    font-size: var(--fs-h1);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--dark-500);
    flex-direction: column;
    gap: 2rem;
  }

  .content-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .body-content {
    max-width: var(--content-wrap);
    margin: auto;
  }

  /* DESKTOP */

  @media (min-width: 1024px) {
    section {
      --fs-h1: 40px;
      --content-wrap: 600px;
    }

    h1 {
      font-size: var(--fs-h1);
    }

    header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    .content-wrap {
      gap: 1rem;
      flex-direction: row;
    }

    .toc-aside {
      flex: 1;
    }

    .body-content {
      flex: 1;
      min-width: var(--content-wrap);
    }

    .form-aside {
      flex: 1;
    }
  }
</style>
